
body {
  background: #fafcfe;
}

.main {
  padding-top: 70px;
  margin: 0 auto;

  h1 {
    margin-bottom: 30px; 
  } 
}

.Select-placeholder {
  color: black;
}

.card-header {
  background: #f1f1f1;
}

